.page {
 display: flex;
 align-items: center;
 justify-content: center;
 min-height: 100vh;
 flex-direction: row;
 gap: 20px;
 align-items:center;
 align-content: space-around;
  
}

[class^="comp"] {
    display: flex;
    flex-direction: column;
    margin:auto
}

.compShop {

    flex-direction: row;
    gap: 20px
}

.bought:hover {
    text-decoration-line:line-through ;
    color: red;
    cursor: pointer;
}